@*
    This partial is for displaying the meeting detail modal
*@
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="meeting-details">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Meeting/Event Details</h4>
            </div>
            <div class="modal-body">
                <h2 class="text-purple semi-bold meeting-detail" id="detail-title">Joe's Birthday</h2>
                <h4 class="text-grey meeting-detail" id="detail-time">Monday 8:30 AM - 9:30 AM, Conference Room 2</h4>
                <h4 class="text-grey meeting-detail" id="detail-room">WALL445</h4>
                <p class="text-grey meeting-detail" id="detail-attendees">Debbie, Bob, Joe, Melinda, William, Me, Jeremy</p>
                <p class="meeting-detail" id="detail-description">There's gonna be cake!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>