<div class="header-quick-nav">
    <div class="pull-left">
        <ul class="nav quick-section">
            <li class="quicklinks">
                <a href="#" class="" id="layout-condensed-toggle">
                    <div class="iconset top-menu-toggle-dark"></div>
                </a>
            </li>
        </ul>
        <ul class="nav quick-section">
        </ul>
    </div>
    <div class="pull-right">
        <ul class="nav quick-section">
            <li class="quicklinks">
                <a data-toggle="dropdown" class="dropdown-toggle pull-right" href="#" id="user-options">
                    <div class="iconset top-settings-dark"></div>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="user-options">
                  <li>
                    <a href="@Url.Action("Logout", "Account")">
                      <i class="fa fa-power-off"></i>&nbsp;&nbsp;Logout
                    </a>
                  </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
